@import "./vars";
@import "./mixins";

.section-editor {
  padding-top: 35.5px;
  padding-bottom: 70px;
  position: relative;

  @media(min-width: $tablet) {
    padding-top: 48px;
    padding-bottom: 98px;
  }
}

.trial-cta {
  font-size: 14px;
  color: #848E97;
  font-family: montserrat;
}

.section-editor__trial-cta {
  margin-bottom: 80px;
  text-align: center;

  @media(min-width: $tablet) {
    margin-bottom: 93.5px;
  }
  @media(min-width: $pc) {
    margin-bottom: 66px;
  }
}

.download-btn {
  position: absolute;
  top: -32px;
  left: calc(50% - 145.5px);
  align-self: center;
  padding: 13px 29px;
  border: 2px solid $textColorCta;
  border-radius: 31px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: $textColorCta;
  transition: background-color .2s, color .2s;

  &:hover {
    color: $textColorCta;
    background-color: white;
  }

  @media(min-width: $tablet) {
    top: -32px;
    left: calc(50% - 195.5px);
    padding: 20px 61px;
    border-radius: 31px;
    font-size: 21px;
    line-height: 22px;
  }
}

.subtitle-h2 {
  color: $textColorCta;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  @media(min-width: $tablet) {
    font-size: 42px;
  }
}

.section-editor__subtitle-h2 {
  margin-bottom: 35px;
}

.editor-description {
 color: $textColotToRead;
 @include lato;
 font-size: 14px;
 line-height: 20px;
 text-align: center;
 max-width: 861px;

 @media(min-width: $tablet) {
  font-size: 21px;
  line-height: 32px;
 }
}

.section-editor__editor-description {
  display: block;
  margin: 0 auto 16px;
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-item {
  display: flex;
  margin: 8px;
  cursor: pointer;
}

.editor-button {
  display: flex;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  overflow: hidden;
}

.editor-button__action {
  background-color: #F1F1F1;
  border-right: 1px solid#D5D5D5;
  padding: 4px;
  padding-left: 32px;
  position: relative;
  font-family: lato;

  &--watch::before,
  &--star::before,
  &--fork::before {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 8px;
    color: black;
    fill: black;
    z-index: 10;
  }

  &--watch::before {
    content: url("../img/icons/eye.svg");
  }
  &--star::before {
    content: url("../img/icons/star.svg");
  }
  &--fork::before {
    content: url("../img/icons/fork.svg");
  }
}

.editor-button__counter {
  padding: 4px;
  background-color: white;
}
